.partieCentral {
    width: 80%;
    background-color: rgb(108, 126, 164);
    height: 23rem;
}

.température {
    font-size: 3rem;
}

.partiePrévision {
    width: 80%;
    background-color: rgb(108, 126, 164);
}

.partiePrévisionWidth {
    width: 95%;
}

#description {
    color: rgb(183, 221, 247);
}

.recherche {
    background-color: rgb(108, 126, 164);
    width: 80%;
}

.bouton {
    background-color: rgb(108, 126, 164);
}
.input {
    background-color: rgb(108, 126, 164);
}

.input::placeholder {
    color: rgb(171, 171, 171);
    font-weight: bold;
}

.test {
    width: 60vw !important;
}